
:root {
  --form-progress: 0%;
}

.quiz-container {
  padding: 40px ;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.quiz-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.progress-bar {
  background: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  height: 8px;
}

.progress-bar span {
  display: block;
  height: 100%;
  width: var(--form-progress);
  background-color: #4caf50;
}

.question {
  font-size: 18px;
  margin-bottom: 20px;
}

.options {
  list-style: none;
  padding: 0;
  margin: 0;
}

.options li {
  margin-bottom: 10px;
}

.options button {
  width: 100%;
  background: #f9f9f9;
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  /* font-size: 16px; */
  cursor: pointer;
  color: black;
  transition: background 0.3s, border-color 0.3s;
}

.options button:hover, 
.options button.selected {
  background-color: #534200;
  color: white;
}
.button{
  background-color: #4caf50;
}

/* Steps style */

.steps {
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 1rem;
}

.step {
  background: var(--background-color);
  z-index: 1;
  padding: 0 1rem;

  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.step-circle {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.step.done .step-circle {
  background: green;
  color: white;
}

.step.done .step-number {
  display: none;
}

.step.done .step-circle::after {
  content: '\2713';
  font-size: 13px;
  font-weight: bold;
}

.step.current .step-circle {
  background: purple;
  color: white;
}

.step.next .step-circle {
  background: gray;
  color: white;
}

.steps-divisor {
  position: absolute;
  width: 100%;
}

/* END Steps style */
