/* Variáveis de Cores */
:root {
  --primary-color: #28a745;
  --secondary-color: #3f51b5;
  --third-color:#722f37;
  --forth-color:#0b0b0b;
  --quinth-color:#534200;
  --background-color: #f4f4f4;
  --text-color: #000000;
  --white-color: #fff;
  --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.bkg1{
  background-color: rgba(240, 242, 242, 0.844);
}
.bkg2{
  background-color: rgb(255, 255, 255);
}
.bkg3{
  background: linear-gradient(90deg, #f4f4f4, #cdd3d5);
}
.bkg4{
  background: linear-gradient(90deg, #cdd3d5, #cdd3d5);
  
}
.bkg5{
  background: linear-gradient(90deg, #cdd3d5, #f4f4f4);
}

/* Estilos Globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
/* Header #3f51b5 */
header {
  background: linear-gradient(185deg, #534200, #cdd3d5);
  color: var(--black-color);
  padding: 60px 20px;
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

header p {
  font-size: 1.2rem;
  font-style: italic;
}
/* Botão CTA */


button {
  background-color: var(--quinth-color);
  margin-top: 10px;
  color: var(--white-color);
  padding: 12px 25px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #ffffff; /* cor mais escura no hover */
  color:#0b0b0b;
  font-size: 1.2rem;
}


.bt-container {
display:inline-flex;
margin: 10px;
cursor: pointer;

}
.bt1 {
  background-color: #cdd3d5;
  color: var(--black-color);
}

/* Rodapé */
footer {
  background-color: #534200;
  color: var(--white-color);
  padding: 5px;
  text-align: center;
  position: relative;
  /* margin-top: 40px; */
}
/* Layout Responsivo */
@media (max-width: 768px) {
  header h1 {
      font-size: 1rem;
  }

  h2 {
      font-size: 1rem;
  }
  footer{
    padding: 10px;
  }
  button {
      font-size: 1rem;
      padding: 10px 20px;
  }
  .images {
    flex-direction: column; /* Empilha as imagens verticalmente em telas menores */
}

.images img {
    width: 100%; /* Cada imagem ocupa toda a largura do container */
}
#identification-form {
  width: 90%;
}
#highlights .highlight-box {
  flex-direction: column;
  gap: 10px;
}
}